/node_modules
/.git
/.gitignore
/.env
/.env.example
/tests
/.vscode
/.idea
/.styleci.yml
/.editorconfig
/phpunit.xml
/README.md
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
